@media(max-width: 700px) {

    .logo {
        font-size: 1rem;
        padding: 0.7rem;
        margin-left: 1rem;
    }

    nav #myMenu {
        height: 105vh;
        width: 80%;
        top: -47px;
        position: absolute;
        display: none;
        justify-content: center;
        align-items: flex-start;
        margin-right: 2rem;
        flex-direction: column;
        background-color: #fff;
        right: 0px;
        transition: all 1s ease 0s;
        z-index: 100;
    }

    nav #myMenu #closeMenu {
        display: block;
        position: absolute;
        top: 60px;
        left: 63%;
    }
    
    nav #openMenu {
        display: block;
        margin-right: 3.8rem;
    }

    nav #myMenu li {
        margin-bottom: 3rem;
    }

    nav #myMenu li a {
        font-size: 1.5rem;
    }

    main {
        width: 370px;
        margin-bottom: 4rem;
    }
    
    /* PROJECTS */

    .box {
        width: 100%;
    }
    
    .box img {
        width: 100%;
    }
    
    .title-project {
        font-size: 2.5rem;
        order: 1;
        width: 100%;
    }
    
    .projects p {
        line-height: 30px;
        order: 2;
    }
    
    .row-1, .row-2, .row-3 {
        flex-flow: column wrap;
        gap: 1rem;
        margin-bottom: 3rem;
    }
    
    .parallax {
        height: 20vh;
        padding-top: 1rem;
        margin-bottom: 1rem;
    }
    
    .parallax::before {
        background-position: center center;
        background-attachment: unset;
    }

    /* NEWS */
    .news-container {
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
        gap: 1rem;
    }

    .read-more {
        margin-right: 1rem;
    }

    /* FOOTER */
    footer {
        background-color: #262626;
        padding-top: 1rem;
        padding-bottom: 4rem;
        width: 100%;
    }

    .contact-container {
        max-width: 350px;
        margin: auto;

        display: flex;
        justify-content: center;
        flex-flow: column wrap;
        gap: 1rem;
        color: #fff;
    }

    .contact-container h1 {
        font-size: 2.5rem;
    }

    .social i {
        font-size: 1.4rem;
    }

}