@media screen and (max-width: 700px) {

    nav #menu {
        display: none;
    }

    .logo {
        font-size: 1rem;
        padding: 0.7rem;
        margin-left: 1rem;
    }

    .openMenu {
        display: block;
        font-size: 1.5rem;
        padding-right: 2rem;
        cursor: pointer;
        z-index: 5;
    }

    nav #sideMenu {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        padding: 5rem 2.5 5rem 2.5rem;
        position: fixed;
        right: -16rem;
        top: 0;
        bottom: 0;
        width: 13.5rem;
        z-index: 10;
        height: 100vh;
        background-color: #fff;
        transition: all .5s;

        list-style-type: none;
    }

    nav ul li a {
        font-size: 1.5rem;
    }

    main {
        width: 90%;
        margin-bottom: 4rem;
    }

    /* NEWS */
    .news-container {
        display: flex;
        justify-content: center;
        flex-flow: column wrap;
        gap: 1rem;
    }

    .read-more {
        margin-right: 1rem;
    }

    /* FOOTER */
    footer {
        background-color: #262626;
        padding-top: 1rem;
        padding-bottom: 4rem;
        width: 100%;
    }

    .contact-container {
        max-width: 90%;
        margin: auto;

        display: flex;
        justify-content: center;
        flex-flow: column wrap;
        gap: 1rem;
        color: #fff;
    }

    .contact-container h1 {
        font-size: 2.5rem;
    }

    .social i {
        font-size: 1.4rem;
    }

}

@media screen and (max-width: 900px) {
    

     /* PROJECTS */
     .row-1, .row-2, .row-3 {
        flex-flow: column wrap;
        gap: 1rem;
        margin-bottom: 3rem;
    }

     .box {
        width: 100%;
    }
    
    .box img {
        width: 100%;
    }
    
    .title-project {
        font-size: 2.5rem;
        order: 1;
        width: 100%;
    }
    
    .projects p {
        line-height: 30px;
        order: 2;
    }
    
    .parallax {
        height: 20vh;
        padding-top: 1rem;
        margin-bottom: 1rem;
    }
    
    .parallax::before {
        background-position: center center;
        background-attachment: unset;
    }
}
