@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    font-family: "Roboto", sans-serif;
}

body {
    margin: 0;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;

    position: fixed;
    width: 100%;
    z-index: 1000;
}

.logo {
    font-size: 1.5rem;
    font-weight: 300;
    border: 1px solid #000;
    padding: 1rem;
    margin-left: 4rem;
}

nav #myMenu {
    display: flex;
    list-style-type: none;
    margin-right: 4rem;
}

nav #myMenu li a {
    margin-right: 3rem;
    text-decoration: none;
    font-size: 1.3rem;
    font-family: "EB Garamond", serif;
    transition: all .3s;
    color: #000;
}

nav #myMenu li a:hover {
    color: gray;
}

#openMenu, #closeMenu {
    display: none;
    font-size: 1.8rem;
    cursor: pointer;
    color: #000;
}

main {
    max-width: 1000px;
    margin: auto;
    padding-top: 6.5rem;
    margin-bottom: 9rem;
}

main .main-img {
    width: 100%;
    margin-bottom: 3rem;
}

/* PROJECTS */

.projects h1 {
    font-weight: 300;
    margin-bottom: 4rem;
}

.box {
    position: relative;
    width: 380px;
    height: auto;
    cursor: pointer;
}

.box img {
    width: 380px;
    height: auto;
    display: block;
}

.overlay {
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: rgba(0, 0, 0, 0.5);
   transition: all .5s ease;
   opacity: 0;
}

.box:hover .overlay {
    opacity: 1;
}

.title-project {
    font-family: "EB Garamond", serif;
    font-weight: 100;
    font-size: 4rem;
    color: #222;
}

.projects p {
    font-weight: 300;
    font-size: 1rem;
    line-height: 35px;
}

.row-1, .row-2, .row-3 {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    margin-bottom: 2rem;
}

.link-projects {
    color: #000;
    font-family: "EB Garamond", serif;
    font-size: 1rem;
    transition: all .2s;
}

.link-projects:hover {
    color: gray;
}

.parallax {
    width: 100%;
    height: 80vh;
    position: relative;
    padding-top: 4rem;
    margin-bottom: 4rem;
}

.parallax::before {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    background: url("../images/parallax.jpg");
    background-size: cover;
    background-position: bottom center;
    background-attachment: fixed;
}

/* NEWS */
.news h1 {
    font-weight: 300;
    margin-bottom: 5rem;
}

.news-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    color: #222;
}

.news-container .number {
    font-size: 4rem;
    font-family: "EB Garamond", serif;
}

.news-container .date {
    font-family: "EB Garamond", serif;
    font-size: 1.2rem;
}

.news-container .headline a {
    font-weight: 400;
    text-decoration: none;
    color: #222;
    transition: all .2s;
}

.news-container .headline a:hover {
    text-decoration: underline;
    text-underline-offset: 0.3rem;
    color: gray;
}

.read-more {
    color: #222;
    font-size: 0.9rem;
    font-weight: 300;
    margin-right: 5rem;
    transition: all .2s;
}

.read-more:hover {
    color: gray;
}

/* FOOTER */
footer {
    background-color: #262626;
    padding-top: 2rem;
    padding-bottom: 9rem;
}

.contact-container {
    max-width: 1000px;
    margin: auto;

    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 4rem;
    color: #fff;
}

.contact-container h1 {
    font-family: "EB Garamond", serif;
    font-weight: 400;
    font-size: 2.7rem;
}

.contact-container p {
    color: #8a8a8a;
}

.social i {
    margin-right: 1rem;
    cursor: pointer;
}